<div class="container-fluid profile">
  <div class="row profile">
    <div id="top_bar" class='col-xs-4 col-xs-offset-8 text-center login-data'>
      <% if user_signed_in? %>
        <p>
          <%= link_to destroy_user_session_path, method: 'DELETE', class: 'btn btn-danger profile' do%>
            <i class="fa fa-sign-out fa-lg ">Sign out</i>
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to 'Sign_up', new_user_registration_path %> | 
          <%= link_to 'Sign_in', new_user_session_path %>
        </p>
      <% end %>
    </div> 
  </div>

  <div class="row profile">
    <div class="col col-xs-8 col-xs-offset-2 text-center logo-box">
      <%= image_tag("logoPlaceMe.png", :alt => "rss feed", class: 'profile-logo') %>
    </div>
  </div>
  <div class="row profile">
    <div class="col col-xs-8 col-xs-offset-2 text-center">

      <div>
        <h2 class="welcome-user">Welcome back <%= current_user.name %>!</h2>
      </div>
      
      <div>
        <%= link_to 'Go to your Places', user_places_path(current_user.id), class: "btn btn-default create-place navigate" %>
      </div>
      <div>
        <%= link_to user_path(current_user.id), method: :delete, class: "btn btn-danger delete-account-button", :data => {confirm: "Are_you_sure?" } do%>
          <i class="fa fa-user-times fa-2x place-button delete-account"> Delete your account</i>
        <% end %>
      </div>
      
    </div>
  </div>
  
</div>

