<div class="container-fluid">
  <div class="row">
    <div id="top_bar" class='col-xs-4 col-xs-offset-7 text-right'>
      <% if user_signed_in? %>
        <p>
          <%= link_to destroy_user_session_path, method: 'DELETE', class: 'btn btn-danger' do%>
            <i class="fa fa-sign-out fa-lg ">Sign out</i>
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to 'Sign_up', new_user_registration_path %> | 
          <%= link_to 'Sign_in', new_user_session_path %>
        </p>
      <% end %>
    </div> 
  </div>
</div>


<h2><%= current_user.name %>!</h2>

<p>
<strong>Email:</strong> <%= current_user.email %>
<%= link_to 'Places', user_places_path(current_user.id) %>
<%= link_to 'Create Place', new_user_place_path(current_user.id) %>
</p>