
<%= form_for([current_user, @place]) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid ">
    <div class="row">
      <div class="col col-xs-4 field">
        <%= f.label :photo, 'Add a new photo', class: 'color' %><br>
        <div id="target" class="photo-frame"></div>
        <%= f.file_field :photo, :id => 'pictureInput' %>
      </div>

      <div class="col col-xs-4 field">
        <%= f.label :title %><br>
        <%= f.text_field :title %><br>

        <%= f.label :comments %><br>
        <%= f.text_field :comments %><br>

        <%= f.label :longitude %><br>
        <%= f.text_field :longitude %><br>

        <%= f.label :latitude %><br>
        <%= f.text_field :latitude %><br>
      </div>  
    </div>
    <div class="col col-xs-12 text-center">
      
      <div class="add-actions">
        <%= f.submit class: "btn btn-default create-place" %>
      </div>
    </div>
  </div>

<% end %>
