
<div id="filterrific_results">

  <div>
    <%= page_entries_info places %>

  <div class="polaroid">
     <% @places.each do |place| %>
      <div class='place'>
        <%= image_tag place.photo.url(:medium), alt: place.id, class: 'places-images'%>
        <content class="place-contents">
          <%= content_tag(:div, place.comments, class: 'place-comments') %> 
          <%= content_tag(:div, place.created_at.strftime('%d-%b-%y'), class: 'date place-date')%>
          
          <div class="actions">
            <i class="place_button fa fa-share-alt fa-lg "></i>
            <i class="place_button fa fa-pencil fa-lg"></i>
            <i class="place_button fa fa-trash-o fa-lg"></i>
          </div>
        </content> 
      </div>
    <% end %>
  </div>




<%= will_paginate places  %>

