
<div id="filterrific_results">
  
  <div>
    
    <div class="col-xs-12 page-text"><%= will_paginate places, class: 'apple_pagination' %></div> 

    <div class="gallery col-xs-12 text-center">
       <% @places.each do |place| %>
        <%= link_to user_place_path(current_user.id, place.id), class: 'action-style button-link' do%>
          <div class='place'>
            <%= image_tag place.photo.url(:medium), alt: place.id, class: 'places-images'%>
            <content class="place-contents">
              <%= content_tag(:div, place.title, class: 'place-title') %> 
              <%= content_tag(:div, place.created_at.strftime('%d-%b-%y'), class: 'date place-date')%>
              
              <div class='action'>
                <%= link_to profile_path, class: 'button-link', data: {toggle: "tooltip", placement: "right", title:"Share"} do%>
                  <i class="fa fa-share-alt fa-lg place-button color-secondary"></i>
                <% end %>

                <%= link_to edit_user_place_path(current_user.id, place.id), class: 'button-link edit-action', data: {toggle: "tooltip", placement: "right", title:"Share"} do%>
                  <i class="fa fa-pencil fa-lg place-button color-secondary"></i>
                <% end %>
                <%= link_to user_place_path(current_user.id, place.id), method: :delete, data: { confirm: 'Are you sure?', toggle: "tooltip", placement: "right", title:"Delete"}, class: 'button-link' do%>
                  <i class="fa fa-trash-o fa-lg place-button color-secondary"></i>
                <% end %>
              </div>
            </content> 
          </div>
        <% end %>
        
      <% end %>
    </div>    
  </div>
</div>