<h2><%= current_user.name %>!</h2>

<p>
<strong>Email:</strong> <%= current_user.email %>
<%= link_to 'Places', user_places_path(current_user.id) %>
<%= link_to 'Create Place', new_user_place_path(current_user.id) %>
</p>


<p id="notice"><%= notice %></p>

<h1>Listing Places</h1>
<%= link_to "Spanish", :controller => 'settings', :action => 'change_locale', :locale => 'es' %>
<%= link_to "English", :controller => 'settings', :action => 'change_locale', :locale => 'en' %>
<table>
  <thead>
    <tr>
      <th>Place id</th>
      <th><%= t '.comments' %></th>
      <th><%= t '.owner_id' %></th>
      <th><%= t '.date' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @places.each do |place| %>
      <tr>
        <td><%= place.id %></td>
        <td><%= place.comments %></td>
        <td><%= place.owner_id %></td>
        <td><%= l place.created_at, :format => :date_place %></td>


        <td><%= link_to profile_path do%>
            <i class="fa fa-user fa-2x"></i>
          <% end %>
        <td>


        <td><%= link_to edit_user_place_path(current_user.id, place.id) do%>
            <i class="fa fa-pencil fa-2x"></i>
          <% end %>
        <td>
        <td><%= link_to user_place_path(current_user.id, place.id), method: :delete, data: { confirm: 'Are you sure?' } do%>
            <i class="fa fa-trash-o fa-2x"></i>
          <% end %>
        <td>

        <td><%= image_tag place.photo.url(:thumb)%></td>


      </tr>
    <% end %>
  </tbody>
</table>