
<div class="col-xs-2">
<div class="container-fluid menu-for-user text-center">
  <%= image_tag("logoPlaceMe.png", :alt => "rss feed", class: 'logo-style') %>
  <div class='welcome'><%= t '.welcome' %> <%= current_user.name %>!</div>

  <div class="buttons-menu-for-user">
    <%= link_to new_user_place_path(current_user.id), class: 'action-style', :data => {:toggle => "modal", :target => "#modal-add"} do%>
      <span class="fa-stack fa-3x", data-toggle="tooltip modal" data-placement="right" title="Add a place", data-taget='#modal-add'>
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-plus fa-stack-1x fa-reverse color"></i>
    <% end %>   
  </div>

  <div class="buttons-menu-for-user">
    <%= link_to places_map_path(current_user.id), class: 'action-style' do%>
      <span class="fa-stack fa-3x", data-toggle="tooltip" data-placement="right" title="Go to the map of Places">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-globe fa-stack-1x fa-reverse color"></i>
    <% end %>             
  </div>

  <div class="btn-group closed white buttons-menu-for-user">
      
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="fa fa-cog color"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="fa fa-pencil fa-fw color"></i> Edit your account</a></li>
        <li><%= link_to destroy_user_session_path, method: 'DELETE' do%>
          <i class="fa fa-sign-out fa-fw color-secondary  "></i> Sign out
        <% end %></li>
        <li class="divider"></li>
        <li><%= link_to "Spanish", :controller => 'settings', :action => 'change_locale', :locale => 'es' %></li>
        <li><%= link_to "English", :controller => 'settings', :action => 'change_locale', :locale => 'en' %></li>
      </ul>
    </div>
  </div>

  <p id="notice" class="color"><%= notice %></p>
</div>


<div class="col-xs-10 gallery-index">
  <div class="container-fluid clearfix search-gallery">
    <div class="col-sx-12">
      <%= render(
        partial: 'places/list',
        locals: { places: @places }
      ) %>
      
    </div>
      <div class="col-xs-12 search-bar text-center">
          <%= form_for_filterrific @filterrific do |f| %>
      
          <div class="search-field">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x color"></i>
              <i class="fa fa-search fa-stack-1x fa-inverse"></i>
            </span>

            <%= f.text_field(:search_query, class: 'filterrific-periodically-observed border-down text-search') %>
          </div>
          <div class="search-field">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x color"></i>
              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
            </span>
            <%= f.select(:with_owner_id, @filterrific.select_options[:with_owner_id],
              { include_blank: '- User -' }, class: 'text-search') %>
          </div>

          <div class="search-field">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x color"></i>
              <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
            </span>
            <%= f.date_field(:with_created_at, class: 'js-datepicker text-search') %>
          </div>

          <div class="search-field">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x color"></i>
              <i class="fa fa-filter fa-stack-1x fa-inverse"></i>
            </span>
            <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], class: 'text-search') %>
          </div>

          <%= link_to reset_filterrific_url, class: 'action-style' do%>
            <span class="fa-stack fa-lg", data-toggle="tooltip" data-placement="top" title="Reset filters">
              <i class="fa fa-circle fa-stack-2x color-secondary"></i>
              <i class="fa fa-undo fa-stack-1x fa-reverse"></i>
          <% end %>   


      </div>

    <% end %>


    <div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content container col-xs-12">
          <div class="modal-header"></div>
          <div class="modal-body"></div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>








