<h2><%= current_user.name %>!</h2>

<p>
<strong>Email:</strong> <%= current_user.email %>
<%= link_to 'Places', user_places_path(current_user.id) %>
<%= link_to 'Create Place', new_user_place_path(current_user.id) %>
</p>


<p id="notice"><%= notice %></p>

<h1>Listing Places</h1>
<%= link_to "Spanish", :controller => 'settings', :action => 'change_locale', :locale => 'es' %>
<%= link_to "English", :controller => 'settings', :action => 'change_locale', :locale => 'en' %>
<table>

  <tbody>
  <% @places.each do |place| %>
      <tr>


        <td><%= link_to edit_user_place_path(current_user.id, place.id) do%>
            <i class="fa fa-pencil fa-2x"></i>
          <% end %>
        <td>
        <td><%= link_to user_place_path(current_user.id, place.id), method: :delete, data: { confirm: 'Are you sure?' } do%>
            <i class="fa fa-trash-o fa-2x"></i>
          <% end %>
        <td>


      </tr>
    <% end %>
  </tbody>
</table>


<h1>Places filter</h1>

<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search

    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>

  <div>
    Registered after
    <%= f.date_field(:with_created_at, class: 'datepicker') %>

  </div>

  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>

  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>

  <%= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'places/list',
  locals: { places: @places }
) %>