<h2><%= current_user.name %>!</h2>

<p>
<strong>Email:</strong> <%= current_user.email %>
<%= link_to 'Places', user_places_path(current_user.id) %>
<%= link_to 'Create Place', new_user_place_path(current_user.id) %>
</p>


<p id="notice"><%= notice %></p>

<h1>Listing Places</h1>
<%= link_to "Spanish", :controller => 'settings', :action => 'change_locale', :locale => 'es' %>
<%= link_to "English", :controller => 'settings', :action => 'change_locale', :locale => 'en' %>


<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search

    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>

  <div class="input-field col-6">
    Registered after
  
    <%= f.date_field(:with_created_at, :class => 'datepicker') %>
    
  </div>

  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>

  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>

  <%= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'places/list',
  locals: { places: @places }
) %>