<div class="container show-body">
  <div class="row show-modal-header">
    
    <div class="col col-xs-8">
      <h5 class="color text-center">Showing "<%= @place.comments %>"</h5> 
    </div>

    <div class="col col-xs-4 text-center">
      
      <div class="add-actions">
        <%= link_to 'Back to gallery', user_places_path(current_user.id), class: "btn btn-default create-place" %>
      </div>
    </div>

  </div>

  <hr>
</div>   

<div class="container-fluid">
  <div class="col col-xs-12">
    <div class="col col-xs-1 field"></div>
   <div class="col col-xs-4 field">
    <%= image_tag @place.photo, :class => 'show-photo' %>
    <div class='col col-xs-12 text-center color'>
      Created: <%= @place.created_at.strftime('%d-%b-%y') %>
    </div>

   </div>

   <div class="col col-xs-2 field">
      <div class="details">
        <div class="color">Title</div>
        <div><%= @place.title %></div>
        <div class="color">Details</div>
        <div><%= @place.comments %></div>
      </div>
      <div class="details">
        <p class="color">Located at:</p>
        <div>Address:</div>
        <div><%= @place.address %></div>
        <hr>
        <div>
          <div>Latitude: <%= @place.latitude %></div>
          <div>Longitude: <%= @place.longitude %></div>
        </div> 
      </div>
   </div> 
  
   <div class="col col-xs-4 field text center">
      <a href="https://www.google.com/maps/dir/<%= current_user.latitude %>,<%= current_user.longitude %>/<%= @place.latitude %>,<%= @place.longitude %>" target="_blank" >
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @place.latitude %>,<%= @place.longitude %>&zoom=15&size=370x300&markers=color:blue|label:P|<%= @place.latitude %>,<%= @place.longitude %>">
      </a>

     <div class="add-actions text-center">
        <a id="navigateButton" href="#" class="btn btn-default create-place navigate" target="_blank"  latitude = "<%= @place.latitude %>" longitude = "<%= @place.longitude %>">Navigate</a>
     </div>
   </div>   

    
  </div>

  
</div>
