<div class="container show-body">
  <div class="row show-modal-header">
    
    <div class="col col-xs-8">
      <h5 class="color text-center">Showing "<%= @place.comments %>"</h5> 
    </div>

    <div class="col col-xs-4 text-center">
      
      <div class="add-actions">
        <%= link_to 'Back to gallery', user_places_path(current_user.id), class: "btn btn-default create-place" %>
      </div>
    </div>

  </div>

  <hr>
</div>   

<div class="container-fluid">
  <div class="col col-xs-12">
    <div class="col col-xs-1 field"></div>
   <div class="col col-xs-4 field">
    <%= image_tag @place.photo, :class => 'show-photo' %>
    <div class='col col-xs-12 text-center color'>
      Created: <%= @place.created_at.strftime('%d-%b-%y') %>
    </div>

   </div>

   <div class="col col-xs-2 field">
     <p class="color">Title</p>
     <%= @place.title %>
     <p class="color">Details</p>
     <%= @place.comments %>
     <p class="color">Located at:</p>
     Latitude: <%= @place.latitude %><br>Longitude: <%= @place.longitude %>
   </div> 

   <div class="col col-xs-4 field text center">
     <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @place.latitude %>,<%= @place.longitude %>&zoom=15&size=300x300&markers=color:blue|label:P|<%= @place.latitude %>,<%= @place.longitude %>">
     <div class="add-actions text-center">
        <a href="https://www.google.com/maps/dir/<%= @place.latitude %>,<%= @place.longitude %>/<%= @place.latitude %>,<%= @place.longitude %>" class="btn btn-default create-place" >Navigate</a>
     </div>
   </div>   

    
  </div>

  
</div>
